@page "/scene/{id}"

@using LightMixerBlazor.Data
@inject ZoneService ForecastService
@using Radzen.Blazor.Rendering
@using Radzen.Blazor


<h1>Scene @id</h1>

@if (zoneList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var item in zoneList)
    {
        <Zone id="@item" sceneId="@id"></Zone>
    }
}

@code {

    [Parameter]
    public string id { get; set; } 

    [Inject]
    public IEnumerable<string> zoneList { get; set; } 

    Dictionary<DateTime, string> events = new Dictionary<DateTime, string>();

    protected override async Task OnInitializedAsync()
    {
        zoneList = await  ForecastService.GetZoneList(id);

    }

    void Change(object value, string name)
    {
        StateHasChanged();
    }
}
