<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DmxLib.DmxServiceBehavior"
        name="DmxLib.DmxService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="DmxLib.IDmxService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DmxLib.DmxServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
