<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DmxLib.Dmx" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="DmxLib.DmxServiceBehavior"
        name="DmxLib.DmxService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          contract="DmxLib.IDmxService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DmxLib.DmxServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <userSettings>
    <DmxLib.Dmx>
      <setting name="BreakLenght" serializeAs="String">
        <value>27600</value>
      </setting>
      <setting name="MAB" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MBB" serializeAs="String">
        <value>0</value>
      </setting>
    </DmxLib.Dmx>
  </userSettings>
</configuration>
