<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SolairXDj.Visual.Laser.LaserSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SolairXDj.Visual.Laser.Laser" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SolairXDj.dj" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Sample.dj" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SolairXDj.Visual.Laser.LaserSetting>
      <setting name="AS_Max_X_pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="AS_Max_X_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="AS_Max_Y_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="AS_Max_Y_pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="AS_SIZE" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="ASR_Max_X_pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="ASR_Max_X_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="ASR_Max_y_pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="ASR_Max_y_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="ASR_size" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="BS_Max_X" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="Bs_Size" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="SS_Max_X" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SS_Size" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="Te_Max_X" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="Te_Size" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="SE_Max_x_Pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SE_Max_x_Neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="SE_Max_y_Pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SE_Max_y_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="SER_Max_x_Pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SER_Max_x_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="SER_Max_y_Pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SER_Max_y_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="SEF_Max_x_Pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SEF_Max_x_neg" serializeAs="String">
        <value>-25000</value>
      </setting>
      <setting name="SEF_Max_y_Pos" serializeAs="String">
        <value>25000</value>
      </setting>
      <setting name="SEF_Max_y_Neg" serializeAs="String">
        <value>-25000</value>
      </setting>
    </SolairXDj.Visual.Laser.LaserSetting>
    <SolairXDj.Visual.Laser.Laser>
      <setting name="AS_Max_X_pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AS_Max_X_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AS_Max_Y_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AS_Max_Y_pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AS_SIZE" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ASR_Max_X_pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ASR_Max_X_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ASR_Max_y_pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ASR_Max_y_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ASR_size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BS_Max_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Bs_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SS_Max_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SS_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Te_Max_X" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Te_Size" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SE_Max_x_Pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SE_Max_x_Neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SE_Max_y_Pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SE_Max_y_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SER_Max_x_Pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SER_Max_x_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SER_Max_y_Pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SER_Max_y_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEF_Max_x_Pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEF_Max_x_neg" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEF_Max_y_Pos" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEF_Max_y_Neg" serializeAs="String">
        <value>0</value>
      </setting>
    </SolairXDj.Visual.Laser.Laser>
    <SolairXDj.dj>
      <setting name="MianOutDevice" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MonitorOutDevice" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MonitorSpeakerPair" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MainSpeakerPair" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoChangeEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeBetweenEvent" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CurrentEvent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoMixDelay" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="EnableExternalMixer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExternalMixerDeviceNumber" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LaserDevice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LaserSpeedAdj" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="CacheDirectory" serializeAs="String">
        <value>d:\cdcache\</value>
      </setting>
      <setting name="PhidgetLEDSn" serializeAs="String">
        <value>16823</value>
      </setting>
      <setting name="PhidgetMixerSn" serializeAs="String">
        <value>68382</value>
      </setting>
      <setting name="BitRate" serializeAs="String">
        <value>44100</value>
      </setting>
      <setting name="EnableLaser" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RemapeDriveFrom" serializeAs="String">
        <value />
      </setting>
      <setting name="RemapeDriveTo" serializeAs="String">
        <value />
      </setting>
    </SolairXDj.dj>
    <Sample.dj>
      <setting name="MianOutDevice" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="MonitorOutDevice" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MonitorSpeakerPair" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MainSpeakerPair" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoChangeEvent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TimeBetweenEvent" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="CurrentEvent" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoMixDelay" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="EnableExternalMixer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExternalMixerDeviceNumber" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LaserDevice" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LaserSpeedAdj" serializeAs="String">
        <value>100</value>
      </setting>
    </Sample.dj>
  </userSettings>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="LightMixer.Model.Service.RemoteLightService">
        <!--<endpoint address="" binding="basicHttpBinding" contract="LightMixer.Model.Service.IRemoteLightService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>-->

        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="restBehavior" contract="LightMixer.Model.Service.IRemoteLightService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8088/LightMixer/RemoteLightService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IDmxService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536" maxConnections="10" maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://desktop-pjdgjgm:8523/DMX/DmxService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDmxService" contract="LightService.IDmxService" name="NetTcpBinding_IDmxService">
        <identity>
          <dns value="desktop-pjdgjgm" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Cng" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.CommandLine" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Console" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Debug" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventSource" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options.ConfigurationExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Json" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.UserSecrets" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.EnvironmentVariables" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Hosting.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.EventLog" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNetCore.Mvc.Core" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
