<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SolairXDj.Visual.Laser.LaserSetting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SolairXDj.Visual.Laser.Laser" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SolairXDj.dj" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Sample.dj" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SolairXDj.Visual.Laser.LaserSetting>
            <setting name="AS_Max_X_pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="AS_Max_X_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="AS_Max_Y_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="AS_Max_Y_pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="AS_SIZE" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="ASR_Max_X_pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="ASR_Max_X_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="ASR_Max_y_pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="ASR_Max_y_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="ASR_size" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="BS_Max_X" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="Bs_Size" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="SS_Max_X" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SS_Size" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="Te_Max_X" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="Te_Size" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="SE_Max_x_Pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SE_Max_x_Neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="SE_Max_y_Pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SE_Max_y_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="SER_Max_x_Pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SER_Max_x_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="SER_Max_y_Pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SER_Max_y_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="SEF_Max_x_Pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SEF_Max_x_neg" serializeAs="String">
                <value>-25000</value>
            </setting>
            <setting name="SEF_Max_y_Pos" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="SEF_Max_y_Neg" serializeAs="String">
                <value>-25000</value>
            </setting>
        </SolairXDj.Visual.Laser.LaserSetting>
        <SolairXDj.Visual.Laser.Laser>
            <setting name="AS_Max_X_pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AS_Max_X_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AS_Max_Y_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AS_Max_Y_pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AS_SIZE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASR_Max_X_pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASR_Max_X_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASR_Max_y_pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASR_Max_y_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ASR_size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BS_Max_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Bs_Size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SS_Max_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SS_Size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Te_Max_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Te_Size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SE_Max_x_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SE_Max_x_Neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SE_Max_y_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SE_Max_y_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SER_Max_x_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SER_Max_x_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SER_Max_y_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SER_Max_y_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SEF_Max_x_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SEF_Max_x_neg" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SEF_Max_y_Pos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SEF_Max_y_Neg" serializeAs="String">
                <value>0</value>
            </setting>
        </SolairXDj.Visual.Laser.Laser>
        <SolairXDj.dj>
            <setting name="MianOutDevice" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MonitorOutDevice" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MonitorSpeakerPair" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MainSpeakerPair" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoChangeEvent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeBetweenEvent" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CurrentEvent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoMixDelay" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="EnableExternalMixer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalMixerDeviceNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LaserDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserSpeedAdj" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CacheDirectory" serializeAs="String">
                <value>d:\cdcache\</value>
            </setting>
            <setting name="PhidgetLEDSn" serializeAs="String">
                <value>16823</value>
            </setting>
            <setting name="PhidgetMixerSn" serializeAs="String">
                <value>68382</value>
            </setting>
            <setting name="BitRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="EnableLaser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemapeDriveFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="RemapeDriveTo" serializeAs="String">
                <value />
            </setting>
        </SolairXDj.dj>
        <Sample.dj>
            <setting name="MianOutDevice" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MonitorOutDevice" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MonitorSpeakerPair" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MainSpeakerPair" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoChangeEvent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimeBetweenEvent" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CurrentEvent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoMixDelay" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="EnableExternalMixer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExternalMixerDeviceNumber" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LaserDevice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserSpeedAdj" serializeAs="String">
                <value>100</value>
            </setting>
        </Sample.dj>
    </userSettings>
</configuration>